* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html, body {
    height: 100%;
}
header, footer {
    height: 64px;
    line-height: 64px;    
    background: #1DB0B8;
    color: #fff;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: #37C6C0;
    z-index: 2;
    display: none;
}
.content {
    height: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    overflow: auto;
}
.content .content-block {
    height: 300px;
    border: solid 1px #000;
}